<ng-container *ngIf="(authService.currentUser$ | async) as user">
  <mat-toolbar color="primary" class="main-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button routerLink="/dashboard">
    <span class="title">University Portal</span>
    </button>
    <div class="user-info">
      <span class="user-name">{{ user.name }} ({{ user.role }})</span>
      <button mat-icon-button (click)="logout()" matTooltip="Logout">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="main-container">
    <mat-sidenav #sidenav class="app-sidenav">
      <!-- Sidenav content -->
      <a mat-list-item routerLink="/schedule" routerLinkActive="active">
        <mat-icon>schedule</mat-icon>
        My Schedule
      </a>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
  
  <!-- This will show when not logged in -->
  <ng-container *ngIf="!(authService.currentUser$ | async)">
    <router-outlet></router-outlet>
  </ng-container>